%p
  Dobrý den,
%h4
  chceme Vás informovat, že jsme stále nedotali platbu za Váš nákup.
%p
  Z toho důvodu jsme fakturu se splatností ke dni #{format_cz_date @invoice.due_date}, pro částku #{format_czk_amount @invoice.price_amount}, jsme přiřadili do naší aplikace.
%h2
  Aplikace U-O-Me - automatické upomínání nezaplacených faktur.
%p
  Můžete se na svoje nezaplacené faktury podívat na odkazu zde:
  %a{ href: "#{app_url_base}/faktura/#{@invoice.public_slug}" } faktura #{format_czk_amount @invoice.price_amount}
  \. Pro zobrazení většího detailu se musíte nejprve přihlásit.
